services:
  web:
    build: .
    command: sh /app/entrypoint.sh
    restart: always
    ports:
      - "8000:8000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - .env
